.day {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 8pt;
    margin: 4px;
    aspect-ratio: 1 / 1;
    width: 100%;
    box-sizing: border-box;
    border-radius: 15%;
}

.selected-day {
    background-color: gray !important;
}

.today {
    background-color: #c80303;
}

.other-month {
    color: gray;
}