.setting-item {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.setting-input {
    position: relative;
    display: flex;
    align-items: center;
    padding: 4px;
    border-radius: 4px;
}

.setting-input.color {
    background: rgba(255, 255, 255, 0.2);
}

.setting-input .range-slider {
    width: 100px;
}

.restore-button-container {
    position: relative;
    margin-left: 5px;
}

.restore-button-container .icon-container:hover {
    background-color: rgba(255, 255, 255, 0.2);
}


.restore-options {
    margin-top: 4px;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    z-index: 1000;
    overflow: hidden;
    white-space: nowrap;
    padding: 5px;
    width: auto;
}


.restore-option {
    display: block;
    font-size: 12px;
    font-weight: 600;
    padding: 0 5px;
    margin-bottom: 5px;
    white-space: nowrap;
    width: auto;
}

.restore-title {
    display: block;
    font-size: 16px;
    font-weight: 700;
    padding: 5px;
    white-space: nowrap;
}

.restore-option:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.settings-view {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: hidden;
}


.sidebar-region {
    width: 350px;
    min-width: 300px;
    padding: 10px;
    overflow: hidden;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
}

.sidebar-region-scroller {
    height: 100%;
    width: auto;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    transition: overflow-y 0.3s ease;
}

.sidebar-region-scroller::-webkit-scrollbar {
    width: 8px;
}

.sidebar-region-scroller::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}

.sidebar-region-scroller::-webkit-scrollbar-track {
}

.sidebar-category {
    display: flex;
    padding: 6px 10px;
    cursor: pointer;
    margin-bottom: 5px;
    margin-right: 10px;
    border-radius: 5px;
    align-items: center;
}

.sidebar-category:hover {
    background: rgba(0, 0, 0, 0.4);
}

.content-region {
    flex-grow: 1;
    padding: 20px;
}

.sidebar-category-title {
    padding: 0 10px 5px;
    font-size:12px;
    font-weight: 700;
}

.sidebar-category.selected {
    background-color: rgba(0, 0, 0, 0.5);
}
.sidebar-category.selected:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.sidebar-category .icon-container {
    margin-right: 8px;
}

.sidebar-content-column {
    width: 750px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
